# Derive New Variables & Functions

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

## Import Files

In [2]:
# import orders_prods_merged dataset
path = r'/Users/patel/Documents/CF-Data Anaylst Course/Achievement-4/Instacart Basket Analysis-Oct 2023/02 Data/'
df_ords_prod_merged = pd.read_pickle(os.path.join(path, 'Prepared Data/orders_products_merged.pkl'))

df_ords_prod_merged.head()

,order_id,user_id,number_of_orders,orders_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [3]:
df_ords_prod_merged.shape

(32404859, 14)

## Subset of Dataset

In [4]:
# extracting first 1,000,000 rows

df = df_ords_prod_merged[:1000000]
df.shape

(1000000, 14)

### Define function and used apply to set price label

In [5]:
# define a function that sets returns price range

def price_label (row):
    if(row['prices'] <= 5):
        return 'Low-Range Product'
    elif (row['prices'] > 5 and row['prices'] <= 15):
        return 'Mid-Range Product'
    elif (row['prices'] > 15):
        return 'High-Range';
    else: 
        return 'Not enough data'

In [6]:
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/6w/mdyngzzd2_z7brmk404qky_m0000gs/T/ipykernel_20338/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [7]:
df.value_counts('price_range', dropna = False)

price_range
Mid-Range Product    756450
Low-Range Product    243550
Name: count, dtype: int64

### Use loc function to set price label

In [8]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/6w/mdyngzzd2_z7brmk404qky_m0000gs/T/ipykernel_20338/1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'
/var/folders/6w/mdyngzzd2_z7brmk404qky_m0000gs/T/ipykernel_20338/1169838859.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'High-range product' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [9]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [10]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [11]:
df['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

### Applying loc function on df_ords_prod_merge

In [12]:
df_ords_prod_merged.loc[df_ords_prod_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'
df_ords_prod_merged.loc[(df_ords_prod_merged['prices'] <= 15) & (df_ords_prod_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'
df_ords_prod_merged.loc[df_ords_prod_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

df_ords_prod_merged['price_range_loc'].value_counts(dropna=False)

/var/folders/6w/mdyngzzd2_z7brmk404qky_m0000gs/T/ipykernel_20338/91076386.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'High-range product' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_ords_prod_merged.loc[df_ords_prod_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

### Define and set Busiest, Least and Regular days

In [13]:
# orders_days_of_week will be used to define busiest days
df_ords_prod_merged['orders_days_of_week'].value_counts(dropna=False)

orders_days_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [14]:
results = []

for order in df_ords_prod_merged['orders_days_of_week']:
    if order == 0:
        results.append("Busiest day")
    elif order == 4:
        results.append("Least busy")
    else:
        results.append("Regular busy")

In [15]:
df_ords_prod_merged['busiest_day'] = results

In [16]:
df_ords_prod_merged['busiest_day'].value_counts(dropna=False)

busiest_day
Regular busy    22416875
Busiest day      6204182
Least busy       3783802
Name: count, dtype: int64

In [17]:
df_ords_prod_merged.head()

,order_id,user_id,number_of_orders,orders_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy

## Busiest and Slowest days

In [18]:
# 0 & 1 busiest days
# 3 & 4 slowest days

results = []

for value in df_ords_prod_merged['orders_days_of_week']:
    if ((value == 0) | (value == 1)):
        results.append("Busiest days")
    elif ((value == 3) | (value == 4)):
        results.append("Slowest days")
    else:
        results.append("Regular days")

df_ords_prod_merged['busy_slow_days'] = results

 ### Checking accuracy of busy_slow_days column

In [19]:
df_ords_prod_merged.value_counts('busy_slow_days')

busy_slow_days
Regular days    12916111
Busiest days    11864412
Slowest days     7624336
Name: count, dtype: int64

In [20]:
# counting values for pair orders_days_of_week and busy_slow_days to double check allocation of busy_slow_days values
df_ords_prod_merged.value_counts(['orders_days_of_week', 'busy_slow_days'])

orders_days_of_week  busy_slow_days
0                    Busiest days      6204182
1                    Busiest days      5660230
6                    Regular days      4496490
2                    Regular days      4213830
5                    Regular days      4205791
3                    Slowest days      3840534
4                    Slowest days      3783802
Name: count, dtype: int64

## Busiest hours

### Allocate most, average and fewer orders

In [21]:
#check number of orders per frequecy
df_ords_prod_merged['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [22]:
#Fewest orders	0,1,2,3,4,5,6
#Average orders	7,8,9,16,17,18,19,20,21,22,23
# Most orders	10,11,12,13,14,15

results = []
fewest_order_hours = [0,1,2,3,4,5]
most_orders_hours = [10,11,12,13,14,15]

for value in df_ords_prod_merged['order_hour_of_day']:
    if (value in fewest_order_hours):
        results.append("Fewest orders")
    elif(value in most_orders_hours):
        results.append("Most orders")
    else:
        results.append("Average orders")

df_ords_prod_merged['busiest_hours'] = results
df_ords_prod_merged.head()

,order_id,user_id,number_of_orders,orders_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busy_slow_days,busiest_hours
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

### Check Frequency of busiest hours

In [23]:
df_ords_prod_merged['busiest_hours'].value_counts(dropna=False)

busiest_hours
Most orders       16128666
Average orders    15679865
Fewest orders       596328
Name: count, dtype: int64

In [24]:
df_ords_prod_merged.value_counts(['order_hour_of_day','busiest_hours'])

order_hour_of_day  busiest_hours
10                 Most orders       2761760
11                 Most orders       2736140
14                 Most orders       2689136
15                 Most orders       2662144
13                 Most orders       2660954
12                 Most orders       2618532
16                 Average orders    2535202
9                  Average orders    2454203
17                 Average orders    2087654
8                  Average orders    1718118
18                 Average orders    1636502
19                 Average orders    1258305
20                 Average orders     976156
7                  Average orders     891054
21                 Average orders     795637
22                 Average orders     634225
23                 Average orders     402316
6                  Average orders     290493
0                  Fewest orders      218769
1                  Fewest orders      115700
5                  Fewest orders       87961
2                  Fewest orders       69375
4                  Fewest orders       53242
3                  Fewest orders       51281
Name: count, dtype: int64

### Export to pkl file

In [25]:
df_ords_prod_merged.to_pickle(os.path.join(path, 'Prepared Data/orders_product_merged_busy_dayshours.pkl'))